<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <form action="/register" method="POST">
       <h2>Login</h2>
       <div class="section">
           <div class="mb-3">
                <label for = "name" class="form-label">Nombre</label>
                <input id="name" name="name" type="text" class="form-control" aria-describedby="emailHelp">
           </div>
            <div class="mb-3">
                <label for = "user" class="form-label">Cuenta de Usuario</label>
                <input id="user" name="user" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for = "pass" class="form-label"> Password</label>
                <input id="pass" name="pass" type="password" class="form-control">
            </div>
            <button type="submit" class="btn ntn-primary">Registrar </a></div>
        </div>
</body>
</html>